---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro'
---

<BaseLayout title="About | Joezari Borlongan" description="About Joezari Borlongan Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/selfie.jpg"
					alt="Will probably be a collage of the things that I represent"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Lorem ipsum dolor sit amet, <a href="https://astro.build/">Astro</a> makes people happy.
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin nibh nisl
						condimentum id venenatis a condimentum vitae. Dapibus ultrices in iaculis nunc. Arcu
						odio ut sem nulla pharetra diam sit amet. Diam quis enim lobortis scelerisque fermentum
						dui faucibus in ornare.
					</p>
					<p>
						Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Eget gravida cum sociis
						natoque penatibus. Cras fermentum odio eu feugiat pretium nibh. Proin nibh nisl
						condimentum id venenatis. Porta nibh venenatis cras sed felis eget velit. Id diam vel
						quam elementum pulvinar etiam non.
					</p>
					<p>
						Ultrices tincidunt arcu non sodales neque sodales ut. Sed enim ut sem viverra aliquet
						eget sit amet. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra.
						Viverra accumsan in nisl nisi scelerisque eu ultrices. In massa tempor nec feugiat nisl
						pretium fusce.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Full-Stack Software Engineering Certification | General Assembly (remote) | Mar 2023 - Sept 2023</p>
					<ul>
						<li>
							Full-stack software engineering 420+ hour program focused on product development fundamentals, object-oriented programming, MVC frameworks, data modeling, and team collaboration strategies. Developing in areas such as React, MongoDB, Mongoose, SQL, Sequelize, JavaScript, Node.js, Express and more.
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<div class="skill-logos">
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=mongodb" height="45" alt="mongodb logo"  /> <p>MongoDB</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=express" height="45" alt="express logo"  /> <p>Express</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=react" height="45" alt="react logo"  /> <p>React</p>							
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=nodejs" height="45" alt="nodejs logo"  /> <p>Node.Js</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=ts" height="45" alt="typescript logo"  /> <p>TypeScript</p>							
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=astro" height="45" alt="astro logo"  /> <p>Astro</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=remix" height="45" alt="remix logo"  /> <p>Remix</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=tailwind" height="45" alt="tailwindcss logo"/> <p>Tailwind</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=sass" height="45" alt="sass logo"/> <p>Sass</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=js" height="45" alt="javascript logo"/> <p>JavaScript</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=html" height="45" alt="html5 logo"/> <p>HTML</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=css" height="45" alt="css3 logo"/> <p>CSS</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=postman" height="45" alt="postman logo"/> <p>Postman</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=jest" height="45" alt="jest logo"/> <p>Jest</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=git" height="45" alt="git logo"/> <p>Git</p>
						</div>
					</div>
					<div class="soft-logos">
						<div class="skill-logos">
							<Icon icon="team-logo" color="var(--accent-regular)" size="2.5rem" gradient /><p>Team Work</p>
						</div>
						<div class="skill-logos">
							<Icon icon="brain" color="var(--accent-regular)" size="2.5rem" gradient /><p>Critical Thinking</p>
						</div>
						<div class="skill-logos">
							<Icon icon="chat" color="var(--accent-regular)" size="2.5rem" gradient /><p>Communication</p>
						</div>
						<div class="skill-logos">
							<Icon icon="time" color="var(--accent-regular)" size="2.5rem" gradient /><p>Time Management</p>
						</div>
						<div class="skill-logos">
							<Icon icon="bulb" color="var(--accent-regular)" size="2.5rem" gradient /><p>Creativity</p>
						</div>
						<div class="skill-logos">
							<Icon icon="eye" color="var(--accent-regular)" size="2.5rem" gradient /><p>Attention To Detail</p>
						</div>
						<div class="skill-logos">
							<Icon icon="give" color="var(--accent-regular)" size="2.5rem" gradient /><p>Empathy</p>
						</div>
						<div class="skill-logos">
							<Icon icon="ear" color="var(--accent-regular)" size="2.5rem" gradient /><p>Listening Skills</p>
						</div>
						<div class="skill-logos">
							<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient /><p>Documentation Skills</p>
						</div>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>

	.soft-logos {
		margin-top: .5rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}

	.skill-pair {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 6rem;
		margin: .4rem;
	}

	.skill-logos {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		margin: 1rem;
	}

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
