---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro'
---

<BaseLayout title="About | Joezari Borlongan" description="About Joezari Borlongan">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Me"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/selfie.jpg"
					alt="Will probably be a collage of the things that I represent"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						From sharpening knives and slicing through meat, mostly starting from 2am in the morning, I have set my mind to carve a new path, and bring my skills to the world of software engineering. My name is <strong>Joezari Borlongan</strong>, a recent graduate from General Assembly's coding bootcamp. 
					</p>
													<!-- Pic of certificate -->
					<br/>
					<p>
						Dealing with a multitude of customers daily, each with their distinct problems and personalities, has honed my interpersonal skills. These skills, combined with my ability to work effectively in a team, make me a valuable asset to the software engineering industry. I am adept at understanding and addressing diverse needs and collaborating with colleagues to deliver efficient and user-focused solutions. Through many years in retail, I've learned the value of adaptability, attention to detail and hard work, traits I carry with me into the ever-evolving tech industry.
					</p>
					<br/>
					<p>
						Becoming a father early in 2022 marked a significant turning point in my life. It was a profound moment that prompted me to re-evaluate my career path. I knew I wanted to be more present and have the flexibility to spend precious time with my growing family. That realization fueled my determination to embark on a career that I not only enjoyed but was also genuinely passionate about.
					</p>
					<br/>
					<div align="center">
						<img id="dota2" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/dota_footer_logo.png" width="45%"/>
					</div>
					<p>
						My journey to software engineering began with a curiosity nurtured by a lifelong love for technology and gaming (Any <a target="_blank" href="https://www.dota2.com/home">DOTA 2</a> fans here?). In my search for the right career fit, I explored various options in the tech industry. It was a moment of serendipity when I stumbled upon <a target="_blank" href="https://www.edx.org/learn/computer-science/harvard-university-cs50-s-introduction-to-computer-science">CS50</a>, a course offered by Harvard. The experience of writing my first line of code in C around July 2022 ignited a fire within me. I found myself captivated by the process of solving problems, especially through the hands-on lab work and mini-projects that the course offered.
					</p>
					<div align="center">
						<img src="https://i.imgur.com/A5s4ZyI.jpg" width="45%"/>
					</div>
					<br/>
					<p>
						What truly resonated with me was the joy of creating small functions and logic, then seamlessly integrating them to tackle complex challenges. The satisfaction derived from resolving coding puzzles and the "Aha!" moments that followed, even after a long day at work and caring for my newborn, cemented my passion for software engineering. It wasn't just a job; it felt like a deeply engaging hobby. The field of software engineering, in my eyes, resembled a game—easy to get started with but endlessly complex to master, with a multitude of challenges and opportunities for growth.
					</p>
					<br/>
					<p>
						Observing my child's journey, as he explored new experiences, faced failures, and consistently worked towards his milestones, served as a powerful reminder that life is a continuous journey of exploration and growth. Just as my son inspired me to step out of my comfort zone, I aspire to achieve new milestones in my career, continually learning and evolving.
					</p>
					<br/>
					<p>
						This journey, driven by the desire to be a role model for my child and the pursuit of personal growth, keeps me fueled and excited to tackle each day as a software engineer. It's not just a career; it's a passionate endeavor and a pathway to becoming the best version of myself.
					</p>
					<br/>
					<p>
						First of all, thank you for taking the time to read my story. I genuinely appreciate your interest and attention. If any part of my journey resonated with you or if you see potential for collaboration, I encourage you to reach out. Let's connect on <a target='_blank' href="https://linkedin.com/in/me"> LinkedIn</a>, or feel free to save a copy of my <a  target='_blank' href="https://drive.google.com/file/d/12LVQr8BrNAdjq5KM9SJihsiIBfWPW3R7/view?usp=sharing"> resume</a> for future reference, other links are found at the bottom of the page. I'm excited to explore new opportunities, share experiences, and learn from the diverse voices in the ever-evolving tech community. 
					</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Full-Stack Software Engineering Certification | General Assembly (remote) | Mar 2023 - Sept 2023</p>
					<ul>
						<li>
							Full-stack software engineering 420+ hour program focused on product development fundamentals, object-oriented programming, MVC frameworks, data modeling, and team collaboration strategies. Developing in areas such as React, MongoDB, Mongoose, SQL, Sequelize, JavaScript, Node.js, Express and more.
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<div class="skill-logos">
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=mongodb" height="45" alt="mongodb logo"  /> <p>MongoDB</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=express" height="45" alt="express logo"  /> <p>Express</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=react" height="45" alt="react logo"  /> <p>React</p>							
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=nodejs" height="45" alt="nodejs logo"  /> <p>Node.Js</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=ts" height="45" alt="typescript logo"  /> <p>TypeScript</p>							
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=astro" height="45" alt="astro logo"  /> <p>Astro</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=next" height="45" alt="remix logo"  /> <p>Next</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=tailwind" height="45" alt="tailwindcss logo"/> <p>Tailwind</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=sass" height="45" alt="sass logo"/> <p>Sass</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=js" height="45" alt="javascript logo"/> <p>JavaScript</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=html" height="45" alt="html5 logo"/> <p>HTML</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=css" height="45" alt="css3 logo"/> <p>CSS</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=postman" height="45" alt="postman logo"/> <p>Postman</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=jest" height="45" alt="jest logo"/> <p>Jest</p>
						</div>
						<div class="skill-pair">
							<img src="https://skillicons.dev/icons?i=git" height="45" alt="git logo"/> <p>Git</p>
						</div>
					</div>
					<div class="soft-logos">
						<div class="skill-logos">
							<Icon icon="team-logo" color="var(--accent-regular)" size="2.5rem" gradient /><p>Team Work</p>
						</div>
						<div class="skill-logos">
							<Icon icon="brain" color="var(--accent-regular)" size="2.5rem" gradient /><p>Critical Thinking</p>
						</div>
						<div class="skill-logos">
							<Icon icon="chat" color="var(--accent-regular)" size="2.5rem" gradient /><p>Communication</p>
						</div>
						<div class="skill-logos">
							<Icon icon="time" color="var(--accent-regular)" size="2.5rem" gradient /><p>Time Management</p>
						</div>
						<div class="skill-logos">
							<Icon icon="bulb" color="var(--accent-regular)" size="2.5rem" gradient /><p>Creativity</p>
						</div>
						<div class="skill-logos">
							<Icon icon="eye" color="var(--accent-regular)" size="2.5rem" gradient /><p>Attention To Detail</p>
						</div>
						<div class="skill-logos">
							<Icon icon="give" color="var(--accent-regular)" size="2.5rem" gradient /><p>Empathy</p>
						</div>
						<div class="skill-logos">
							<Icon icon="ear" color="var(--accent-regular)" size="2.5rem" gradient /><p>Listening Skills</p>
						</div>
						<div class="skill-logos">
							<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient /><p>Documentation Skills</p>
						</div>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>

	#dota2 {
		background-color: rgb(168, 161, 161);
		padding: .5rem;
	}

	.soft-logos {
		margin-top: .5rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}

	.skill-pair {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 6rem;
		margin: .4rem;
	}

	.skill-logos {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		margin: 1rem;
	}

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
